[user]
	name = zither
	email = 325831871@qq.com
[alias]
	ci = commit
	st = status
	hi = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[gui]
	encoding = UTF-8
[core]
	safecrlf = false
[credential]
	helper = wincred
[i18n]  
    commitencoding = utf-8  #log编码  
[svn]  
    pathnameencoding = utf-8  #支持中文路径 
